<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	    crossorigin="anonymous">
        <title>{{ title if title else 'Pas de titre'}}</title>
    </head>

    <body>
		<div id="bloc_page">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container">
					<a class="navbar-brand" href="#">
						<img src="{{ url_for("static", filename="css/images/logo2.png") }}" width="50" height="50" alt="Info logo" />
						Le Seigneur des Anneaux
					</a>
					
					
				
				
				
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link" href="#">Acceuil</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Bibliothèque</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<h2>Bienvenue dans la terre du milieu.</h2>
			
			<div id="banniere_image">
				<div id="banniere_description">
					L'anneau unique de Sauron.
					<a href="#" class="bouton_rouge">Voir l'article <img src="images/flechedroite.jpeg" alt="" /></a>
				</div>
			</div>
		
			<section>
				<h1>Discour de Aragorn devant la porte noire.</h1>
				<p>Aragorn: Tenez vos positions ! Tenez vos positions ! Fils du Gondor, et du Rohan. Mes frères. Je lis dans vos yeux la même peur qui pourrait saisir mon cœur ! Un jour peut venir, où le courage des hommes faillira, où nous abandonnerons nos amis et briserons tous liens Mais ce jour n'est pas arrivé! Ce sera l'heure des loups et des boucliers fracassés lorsque l'âge des Hommes s'éffondrera ! Et ce jour n'est pas arrivé ! Aujourd'hui nous combattrons ! Pour tout ce qui vous est cher sur cette bonne terre, je vous ordonne de tenir, Hommes de l'Ouest !</br>
				Gimli: Jamais je n'aurais songé mourir au combat aux cotés d'un Elfe !</br>
				Legolas: Et que pensez-vous de mourir aux cotés d'un ami ?</br>
				Gimli: Ah oui. Ca je peux le faire.</p>
			</section>
			<aside>
				
			</aside>
			<footer>
				
			</footer>
    	</div>
    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
